
@{
    ViewBag.Title = "DanhMucNhomQuyen";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

@section css{
    <link href="~/Scripts/dist/css/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Layout/Admin/assets/css/bootstrap-duallistbox.min.css" />
}

@section Breadcrum{
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-list"></i>
                Từ điển danh mục
            </li>
            <li class="active">Danh mục Nhóm quyền</li>
        </ul><!-- /.breadcrumb -->
    </div>
}

<style>
    .label-error {
        padding: 7px;
        margin-top: 4px;
        font-style: italic;
    }

    .label-bold {
        font-weight: bold;
    }

    .canhgiua {
        text-align: center;
    }
</style>

<div class="invisible" id="main-widget-container">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="widget-box">
                <div class="widget-header" style="color:#fff; background:#5090C1;">
                    <h4 class="widget-title">Tạo nhóm người dùng</h4>

                    <span class="widget-toolbar">
                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="form-group" style="clear:both;">
                            <label for="txtMaNhomND" class="label-bold">Mã nhóm người dùng</label>
                            <input class="form-control" id="txtMaNhomND" name="txtMaNhomND" type="text" onkeyup="TestError(this.id);">
                            <label id="txtMaNhomND-error" class="label-error alert-danger" for="txtMaNhomND" style="float:right;"><i class="ace-icon fa fa-exclamation-triangle red bigger-70"></i>  Vui lòng nhập mã nhóm quyền!</label>
                        </div>
                        <div class="form-group" style="clear:both;"></div>
                        <div class="form-group" style="clear:both;">
                            <label for="txtTenNhomND" class="label-bold">Tên nhóm người dùng</label>
                            <input class="form-control" id="txtTenNhomND" name="txtTenNhomND" type="text" onkeyup="TestError(this.id);">
                            <label id="txtTenNhomND-error" class="label-error alert-danger" for="txtTenNhomND" style="float:right;"><i class="ace-icon fa fa-exclamation-triangle red bigger-70"></i>  Vui lòng nhập tên nhóm quyền!</label>
                        </div>
                        <div class="form-group" style="clear:both;"></div>
                        <div class="form-group" style="clear:both; text-align:center;">
                            <button type="button" id="btnLuuNhomND" onclick="INSERT_NDD();" class="btn btn-sm btn-info"><i class="ace-icon fa fa-save bigger-110"></i> Tạo Nhóm ND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="widget-box">
                <div class="widget-header" style="color:#fff; background:#5090C1;">
                    <h4 class="widget-title">Danh sách nhóm người dùng</h4>

                    <span class="widget-toolbar">
                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="grid_DS_NHOMNGUOIDUNG"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header" style="color:#fff; background:#5090C1;">
                    <h4 class="widget-title">Phân quyền cho nhóm</h4>

                    <span class="widget-toolbar">
                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div lass="form-group" style="clear:both; text-align:right;">
                            <button type="button" id="btnLuuQuyen" onclick="updateQuyen();" class="btn btn-sm btn-info"><i class="ace-icon fa fa-save bigger-110"></i> Cập nhật quyền</button>
                        </div>
                        <div class="form-group" style="clear:both;"></div>
                        <div lass="form-group" style="clear:both; width:400px; margin:0 auto;">
                            <label for="cmbNhomQuyen" class="label-bold">Chọn nhóm quyền</label>
                            <select id="cmbNhomQuyen" class="selectpicker form-control" data-live-search="true" onchange="OnChangeGroup()"></select>
                        </div>
                        <div class="form-group" style="clear:both;"></div>
                        <div class="form-group" style="clear:both;">
                            <label for="duallistQuyen" class="label-bold">Danh sách quyền</label>
                            <select multiple="multiple" size="10" name="duallistbox_quyen[]" id="duallistQuyen" class="dualquyen">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalSua">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-header" style="color:#fff; background-color:#37619C;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CẬP NHẬT NHÓM NGƯỜI DÙNG</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="text-align:right" width="30%">
                                    Mã nhóm người dùng:
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control input-sm" id="txtNddIdUpd" name="txtNddIdUpd" type="hidden">
                                        <input class="form-control" id="txtMANHOMNDUpd" name="txtMANHOMNDUpd" type="text" onkeyup="TestError(this.id);">
                                        <label id="txtMANHOMNDUpd-error" class="label-error alert-danger" for="txtMANHOMNDUpd" style="float:right;"><i class="ace-icon fa fa-exclamation-triangle red bigger-70"></i>  Vui lòng nhập mã nhóm người dùng!</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">
                                    Tên nhóm người dùng:
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" id="txtTENNHOMNDUpd" name="txtTENNHOMNDUpd" type="text" onkeyup="TestError(this.id);">
                                        <label id="txtTENNHOMNDUpd-error" class="label-error alert-danger" for="txtTENNHOMNDUpd" style="float:right;"><i class="ace-icon fa fa-exclamation-triangle red bigger-70"></i>  Vui lòng nhập tên nhóm người dùng!</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <label style="float:left;" id="myModalSua-IsSuccess"></label>
                <button type="button" class="btn btn-sm btn-info" onclick="UpdateNDD()"><i class="ace-icon fa fa-check bigger-70"></i> Cập nhật</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close bigger-70"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalXoa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="color:#fff; background-color:#37619C;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">XÓA NHÓM NGƯỜI DÙNG</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="NddIdDel" />
                <span id="alertxoa">Bạn có muốn xóa Nhóm người dùng này?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-info" onclick="XoaNDD()">Xóa</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script type="text/javascript">
	    if('ontouchstart' in document.documentElement) document.write("<script src='../Layout/Admin/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <script src="~/Scripts/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Layout/Admin/assets/js/jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
			jQuery(function($) {	   
				// scrollables
				$('.scrollable').each(function () {
					var $this = $(this);
					$(this).ace_scroll({
						size: $this.attr('data-size') || 100,
						//styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
					});
				});
				$('.scrollable-horizontal').each(function () {
					var $this = $(this);
					$(this).ace_scroll(
					  {
						horizontal: true,
						styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
						size: $this.attr('data-size') || 500,
						mouseWheelLock: true
					  }
					).css({'padding-top': 12});
				});

				$(window).on('resize.scroll_reset', function() {
					$('.scrollable-horizontal').ace_scroll('reset');
				});


				$('#id-checkbox-vertical').prop('checked', false).on('click', function() {
					$('#widget-toolbox-1').toggleClass('toolbox-vertical')
					.find('.btn-group').toggleClass('btn-group-vertical')
					.filter(':first').toggleClass('hidden')
					.parent().toggleClass('btn-toolbar')
				});

				///////////////////////

				//when a widget is shown/hidden/closed, we save its state for later retrieval
				$(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function(event) {
					var widgets = ace.data.get('demo', 'widget-state', true);
					if(widgets == null) widgets = {}

					var id = $(this).attr('id');
					widgets[id] = event.type;
					ace.data.set('demo', 'widget-state', widgets, null, true);
				});


				(function() {
					//restore widget order
					var container_list = ace.data.get('demo', 'widget-order', true);
					if(container_list) {
						for(var container_id in container_list) if(container_list.hasOwnProperty(container_id)) {

							var widgets_inside_container = container_list[container_id];
							if(widgets_inside_container.length == 0) continue;

							for(var i = 0; i < widgets_inside_container.length; i++) {
								var widget = widgets_inside_container[i];
								$('#'+widget).appendTo('#'+container_id);
							}

						}
					}


					//restore widget state
					var widgets = ace.data.get('demo', 'widget-state', true);
					if(widgets != null) {
						for(var id in widgets) if(widgets.hasOwnProperty(id)) {
							var state = widgets[id];
							var widget = $('#'+id);
							if
							(
								(state == 'shown' && widget.hasClass('collapsed'))
								||
								(state == 'hidden' && !widget.hasClass('collapsed'))
							)
							{
								widget.widget_box('toggleFast');
							}
							else if(state == 'closed') {
								widget.widget_box('closeFast');
							}
						}
					}


					$('#main-widget-container').removeClass('invisible');


					//reset saved positions and states
					$('#reset-widgets').on('click', function() {
						ace.data.remove('demo', 'widget-state');
						ace.data.remove('demo', 'widget-order');
						document.location.reload();
					});

				})();

			});
    </script>
}

<script>
    var txtArrayNDD = [];
    var txtArrayNDDUpd = [];
    var ErrorNDDIns = false;
    var ErrorNDDUpd = false;
    txtArrayNDD.push('txtMaNhomND', 'txtTenNhomND');
    txtArrayNDDUpd.push('txtMANHOMNDUpd', 'txtTENNHOMNDUpd'); 
    var quyen;
    var container1;

    function INSERT_NDD() {
        ShowHideError(txtArrayNDD);
        ErrorNDDIns = ErrorBool(txtArrayNDD);

        if (ErrorNDDIns == true) {
            $('#loading').fadeIn();
            $.ajax({
                type: 'POST',
                url: '/Admin/TaoNhomNguoiDung?t=' + Math.random(),
                data: {
                    MANHOMND: $('#txtMaNhomND').val(),
                    TENNHOMND: $('#txtTenNhomND').val()
                },
                //async: true,
                dataType: 'text',
                success: function (html) {
                    $('#loading').fadeOut();
                    if (html == "...") {
                        $(':input')
                            .removeAttr('checked')
                            .removeAttr('selected')
                            .not(':button, :submit, :reset, :hidden, :radio, :checkbox')
                            .val('');
                        $('#grid_DS_NHOMNGUOIDUNG').data('kendoGrid').dataSource.read();
                        ShowAlert("Thông báo", 'Tạo Nhóm người dùng thành công!');
                    }
                    else {
                        ShowAlert("Thông báo", html);
                    }
                }
            })
            .fail(
                function (jqXHR, textStatus, err) {
                    $('#loading').fadeOut();
                    ShowAlert("Thông báo", err);
                });
        }
    }

    function OnLoadGridNDD() {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    contentType: "application/json; charset=utf-8",
                    url: "/Admin/Get_DS_NhomNguoiDung",
                    type: 'GET',
                    dataType: "json"
                }
            },
            pageSize: 100,
            schema: {
                model: {
                    id: "NHOMNGUOIDUNG_ID",
                    fields: {
                        NHOMNGUOIDUNG_ID: { type: "number", editable: false, nullable: true },
                        MANHOMND: { type: "string", editable: true, nullable: true },
                        TENNHOMND: { type: "string", editable: true, nullable: true }
                    }
                }
            }
        });

        $("#grid_DS_NHOMNGUOIDUNG").kendoGrid({
            dataSource: dataSource,
            height: 300,
            noRecords: true,
            messages: {
                noRecords: "Không có Nhóm người dùng!"
            },
            columns: [
            {
                field: "NHOMNGUOIDUNG_ID",
                title: "NND ID",
                width: 70,
                attributes: { class: "canhgiua" },
                headerAttributes: {
                    style: "text-align: center; vertical-align: middle; font-weight:bold;",
                },
            },
            {
                field: "MANHOMND",
                title: "MÃ NDD",
                width: 150,
                headerAttributes: {
                    style: "text-align: center; vertical-align: middle; font-weight:bold;",
                }
            },
            {
                field: "TENNHOMND",
                title: "TÊN NDD",
                width: 200,
                headerAttributes: {
                    style: "text-align: center; vertical-align: middle; font-weight:bold;",
                }
            },
            {
                width: 60,
                template: '<a onclick="ShowCapNhatNDD(\'#= NHOMNGUOIDUNG_ID #\');" class="btn btn-xs btn-info"><i class="ace-icon fa fa-edit bigger-40"></i> SỬA</a>',
                attributes: { class: "canhgiua" },
                headerAttributes: {
                    style: "text-align: center; vertical-align: middle; font-weight:bold;"
                }
            },
            {
                width: 60,
                template: '<a onclick="ShowXoaNDD(\'#= NHOMNGUOIDUNG_ID #\');" class="btn btn-xs btn-danger"><i class="ace-icon fa fa-trash bigger-40"></i> Xóa</a>',
                attributes: { class: "canhgiua" },
                headerAttributes: {
                    style: "text-align: center; vertical-align: middle; font-weight:bold;",
                }
            }]
        }).data("kendoGrid");
    }

    function ShowCapNhatNDD(NHOMNGUOIDUNG_ID) {
        HideError(txtArrayNDDUpd);

        var grid_data = $("#grid_DS_NHOMNGUOIDUNG").data("kendoGrid"),
        data = grid_data.dataSource.data();

        var res = $.grep(data, function (d) {
            return d.NHOMNGUOIDUNG_ID == NHOMNGUOIDUNG_ID;
        });

        $('#txtNddIdUpd').val(NHOMNGUOIDUNG_ID);
        $('#txtMANHOMNDUpd').val(res[0].MANHOMND);
        $('#txtTENNHOMNDUpd').val(res[0].TENNHOMND);
        IsSucess('myModalSua', '');
        $('#myModalSua').appendTo("body").modal('show');
    }

    function UpdateNDD() {
        ShowHideError(txtArrayNDDUpd);
        ErrorNDDUpd = ErrorBool(txtArrayNDDUpd);

        if (ErrorNDDUpd == true) {
            $('#loading').fadeIn();
            $.ajax({
                type: 'POST',
                url: '/Admin/CapNhatNDD?t=' + Math.random(),
                data: {
                    NDD_ID: $('#txtNddIdUpd').val(),
                    MANHOMND: $('#txtMANHOMNDUpd').val(),
                    TENNHOMND: $("#txtTENNHOMNDUpd").val()
                },
                //async: true,
                dataType: 'text',
                success: function (html) {
                    $('#loading').fadeOut();
                    if (html == "...") {
                        //$('#myModalSua').appendTo("body").modal('hide');
                        $('#grid_DS_NHOMNGUOIDUNG').data('kendoGrid').dataSource.read();
                        //ShowAlert("Thông báo", 'Cập nhật Nhóm người dùng thành công!');
                        IsSucess('myModalSua', 'Cập nhật thành công!');
                    }
                    else {
                        IsSucess('myModalSua', html);
                    }
                },
            })
            .fail(
                function (jqXHR, textStatus, err) {
                    $('#loading').fadeOut();
                    IsSucess('myModalSua', err);
                });
        }
    }

    function ShowXoaNDD(NDD_ID) {
        $('#NddIdDel').val(NDD_ID);
        $('#myModalXoa').appendTo("body").modal('show');
    }

    function XoaNDD() {
        $('#myModalXoa').modal('hide');
        $('#loading').fadeIn();

        $.ajax({
            type: 'POST',
            url: '/Admin/XoaNDD?t=' + Math.random(),
            data: {
                NDD_ID: $('#NddIdDel').val()
            },
            //async: true,
            dataType: 'text',
            success: function (html) {
                $('#loading').fadeOut();
                if (html == "...") {
                    $('#grid_DS_NHOMNGUOIDUNG').data('kendoGrid').dataSource.read();
                    IsSucess('myModalXoa', 'Xóa thành công!');
                }
                else {
                    IsSucess('myModalXoa', html);
                }

            },
        })
        .fail(
            function (jqXHR, textStatus, err) {
                $('#loading').fadeOut();
                IsSucess('myModalXoa', err);
            });
    }

    function Get_GroupUser() {
        $.getJSON("/Admin/Get_DS_NhomNguoiDung")
        .done(function (data) {
            $('#cmbNhomQuyen').empty();
            $.each(data, function (key, item) {
                // Add a list item for the product.
                $("<option value=" + item.NHOMNGUOIDUNG_ID + ">" + item.TENNHOMND + " </option>").appendTo($('#cmbNhomQuyen'));
            });
            $('#cmbNhomQuyen').selectpicker('refresh');
            OnChangeGroup();
        });
    }

    function GetMenuBy_Group(NHOMNGUOIDUNG_ID) {
        $.getJSON("/Admin/Get_DS_Quyen", { NHOMNGUOIDUNG_ID: NHOMNGUOIDUNG_ID },
            function (data) {
                quyen.empty();
                $.each(data, function (key, val) {
                    if (val.COQUYEN == 0) {
                        $("<option value=" + val.QUYEN_ID + ">" + val.TENQUYEN + " </option>").appendTo(quyen);
                    }
                    else {
                        $("<option selected='selected' value=" + val.QUYEN_ID + ">" + val.TENQUYEN + " </option>").appendTo(quyen);
                    }
                });
                quyen.bootstrapDualListbox('refresh', true);
                $('#cmbNhomQuyen').selectpicker('refresh');
            });
    }

    function OnChangeGroup() {
        GetMenuBy_Group($('#cmbNhomQuyen').val());
    }

    function Duallistbox() {
        quyen = $('select[name="duallistbox_quyen[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Đang sử dụng bộ lọc</span>' });
        container1 = quyen.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');
    }

    function updateQuyen() {
        $('#loading').fadeIn();
        $.ajax({
            type: 'POST',
            url: '/Admin/UpdateQuyen?t=' + Math.random(),
            data: {
                NHOMNGUOIDUNG_ID: $('#cmbNhomQuyen').val(),
                QUYEN: $('[name="duallistbox_quyen[]"]').val().join()
            },
            //async: true,
            dataType: 'text',
            success: function (html) {
                $('#loading').fadeOut();
                if (html == "...") {
                    ShowAlert("Thông báo", 'Cập nhật Quyền thành công!');
                }
                else {
                    ShowAlert("Thông báo", html);
                }
            },
        })
        .fail(
            function (jqXHR, textStatus, err) {
                $('#loading').fadeOut();
                ShowAlert("Thông báo", err);
            });
    }

    $(function () {
        Duallistbox();

        HideError(txtArrayNDD);

        OnLoadGridNDD();

        Get_GroupUser();
    });
</script>



