
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

@section Breadcrum{
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                Quản trị Website
            </li>
            <li class="active">Index</li>
        </ul><!-- /.breadcrumb -->
    </div>
}

<div class="invisible" id="main-widget-container">
    <div class="row">
    </div>
</div>

